* {
  font-family: 'FiraCode Nerd Font';
  font-size: 12px;
  min-height: 25px;
  color: #cdd6f4
}

/*---- Bar ----*/
window#waybar {
  border-radius: 10px;
  background: #11111b;
}

tooltip {
  background: #11111b;
}


/*---- Modules ----*/
#clock,
#workspaces,
#window,
#tray,
#custom-battery_conservation,
#custom-night_light,
#pulseaudio,
#pulseaudio.mic,
#backlight,
#bluetooth,
#network,
#battery,
#cpu,
#memory {
  margin-top: 4px;
  margin-bottom: 2px;
  margin-left: 5px;
  margin-right: 5px;
}

#clock {
  color: #cdd6f4;
}

#workspaces button {
  padding: 2px 5px 2px 2px;
  margin: 2px;
  border-radius: 10px;
}

#workspaces button.active {
  background-color: alpha(#b4befe, 0.2);
}

#custom-night_light.on {
  color: #fab387;
}

#custom-battery_conservation.on {
  color: #a6e3a1;
}

#pulseaudio,
#pulseaudio.mic {
  color: #89b4fa;
}

#backlight {
  color: #fab387;
}

#bluetooth {
  color: #89b4fa;
}

#network {
  color: #a6e3a1;
}

#network.disabled,
#network.disconnected {
  color: #f38ba8;
}

#battery {
  color: #a6e3a1;
}

#cpu,
#memory {
  color: #cba6f7;
}